{% extends "learming_logs_app/base.html" %}
{% load static %}
{% block header %}
     <h3>{{ topic }}</h3>
{% endblock header %}

{% block content %}
    <p>
        <a href="{% url 'learming_logs_app:new_entry' topic.id %}">add new entry</a>
    </p>
    <ul>
        {% for entry in entries %}
            <div class="panel panel-default"> 
                <div class="panel-heading">
                    <h4>
                        {{ entry.date_added|date:'M d, Y H:i' }}
                        <small>
                            <a href="{% url 'learming_logs_app:edit_entry' entry.id %}"> edit entry</a>
                        </small>
                        <small>
                            <a href="{% url 'learming_logs_app:delete_entry' entry.id %}" class="pull-right" onclick="confirmDelEntry(this)"> delete entry</a>
                        </small>
                    </h4>
                </div>
                <div class="panel-body">
                    {{ entry.text|linebreaks }}
                </div>
            </div> <!-- panel -->
        {% empty %}
            There are no entries for this topic yet.
        {% endfor %}
    <script src="{% static 'script.js' %}"></script>
{% endblock content %}
